:root {
    --light-gray: #e5e5e5;
}

.my_lightgray {
    background-color: var(--light-gray);
}
/* regole header */
header {
    background-color: white;
    padding: 10px 0;
}
/* regole main */

/* regole aside */
header nav {
    height: 50px;
    background-color: red;
}

.logo-mobile {
    height: 50px;
}

.main-aside {
    width: 10%;
    background-color: orange;
}

/* regole main-content */
.main-content {
    width: 90%;
    height:calc(100vh - 70px);
    overflow: auto;
}

.main-content .main-header {
    background-color: aqua;
    height: 80px;
}

.main-content .left-columns .col-12 {
    background-color:blueviolet;
    height: 450px;
    border: 1px dashed black;
}

.main-content .right-columns .col-12 {
    background-color:orchid;
    height: 350px;
    border: 1px dashed black;
}

.dropdown-toggle::after {
    content: none;
}